body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex: 1;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

li {
    list-style: none;
    color: white;
}

.first,
.second,
.third,
.fourth,
.footer {
    padding-left: 200px;
    padding-right: 200px;
}

.first,
.second,
.third,
.fourth {
    padding-bottom: 75px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #1F2937;
    color: white;
    height: 50px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    flex-wrap: wrap;
}

.first-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-content {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    font-weight: lighter;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
}

button {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 8px;
    margin: 12px 0;
    color: #F9FAF8;
    border: none;
    width: 120px;
    font-weight: bold;
}

.news-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.box img {
    width: 200px;
    border-radius: 8px;
    border-color: blue;
    border-style: solid;
}

.box p {
    font-size: 16px;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
    padding: 0;
    margin: 2px;
}

.first,
.footer {
    background-color: #1F2937;
    color: white;
}

.third {
    background-color: #e5e7eb;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

